<app-nav-bar></app-nav-bar>

<!-- The view applications page the user will come to.-->

<h1 class="text-center my-5">View Past Applications</h1>

<div *ngIf="!results || results.length == 0">
    <p class="big-text text-center">{{noneMess}}</p>
  </div>
  
<div class="container-fluid">
    <div id="divCards" class="row">

        <div class="p-2 col-sm-5 col-md-4 col-lg-3" *ngFor="let result of results">
            <div class="card">
            <img *ngIf="result.template.listing.imageUrls.length > 0" class='card-img-top' [src]="result.template.listing.imageUrls[0].url" alt='Card image' style='width:100%'>
            <div class="card-body" style="background-color:white;">
                <h4 class="card-title">{{result.template.listing.name}}</h4>

                <span *ngIf="result.template.listing.age > 0">{{result.template.listing.age}} year old </span>
                <span *ngIf="result.template.listing.sex > 0">{{shared.sexes[result.template.listing.sex]}} </span>
                <span *ngIf="result.template.listing.species">{{result.template.listing.species}}</span>

                <div class="card-text">{{result.template.listing.city + ", " + result.template.listing.state + ", " + result.template.listing.zipCode}}</div>

                <hr>
                <div class="card-text">Date: {{result.dateString}}</div>                
                <div class="card-text">Status: {{shared.status[result.status]}}</div>
            </div>
            </div>
        </div>

    </div>
    </div>