<!-- The view listing page the user will come to.-->
<app-nav-bar></app-nav-bar>

<h1 class="my-5 text-center">View Past Listings</h1>

<div *ngIf="!results || results.length == 0">
    <p class="big-text text-center">{{noneMess}}</p>
  </div>

<div class="container-fluid my-5">
    <div id="divCards" class="row">

        <div class="p-2 col-sm-5 col-md-4 col-lg-3" *ngFor="let result of results">
            <div class="card">
            <img *ngIf="result.imageUrls.length > 0" class='card-img-top' [src]="result.imageUrls[0].url" alt='Card image' style='width:100%'>
            <div class="card-body" style="background-color:white;">
                <h4 class="card-title">{{result.name}}</h4>

                <span *ngIf="result.age > 0">{{result.age}} year old </span>
                <span *ngIf="result.sex > 0">{{shared.sexes[result.sex]}} </span>
                <span *ngIf="result.species">{{result.species}}</span>

                <div class="card-text">{{result.city + ", " + result.state + ", " + result.zipCode}}</div>

                <hr>
                <div class="card-text">Date: {{result.dateString}}</div>
                
                <div class="text-center mt-3">
                <a href='' class='btn btn-primary w-75 detailsA' (click)="onViewApplicantsClicked($event, result)">View Applicants</a>
                </div>
            </div>
            </div>
        </div>

    </div>
    </div>